[
  {
    "if": {
      "Datasource.host": "%(host)s"
    },
    "then": {
      dbname = multinet
      host = localhost
      port = 5432
      user = markvahrenwald
      password = Lambkin94
    }
  },
  {
    "if": {
      "Datasource.host": "%(natehost)s"
    },
    "then": {
      natename = naturalearth
      natehost = localhost
      nateport = 5432
      nateuser = markvahrenwald
      natepassword = Lambkin94
    }
  }
]
