[
  {
    "if": {
      "Datasource.dbname": "%(dbname)s"
    },
    "then": {
      "Datasource.dbname": "multinet",
      "Datasource.host": "localhost",
      "Datasource.port": "5432",
      "Datasource.user": "markvahrenwald",
      "Datasource.password": "Lambkin94"
    }
  },
  {
    "if": {
      "Datasource.dbname": "%(natename)s"
    },
    "then": {
      "Datasource.dbname": "naturalearth",
      "Datasource.host": "localhost",
      "Datasource.port": "5432",
      "Datasource.user": "markvahrenwald",
      "Datasource.password": "Lambkin94"
    }
  }
]
